<!DOCTYPE html>
<html lang="en" ng-app="CMMessagerApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bulk messages with a simple manager</title>

    <!-- Bootstrap -->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/angular/angular.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/ngUpload/ng-upload.js"></script>

    <!-- This is the backend code. -->
    <script src="../static/js/app.js"></script>

</head>

<body>

  <div id="main_page" class="container">

    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" ><a href="#">Login</a></li>
          <li role="presentation" class="active"><a href="#">Sender</a></li>
          <li role="presentation"><a href="#">Received</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Bulk Messages with a simple manager</h3>
    </div>

    <div id="sendMessageSection" class="jumbotron" ng-controller="SendController as sendCtrl">
      <small><b>Note: </b>Select the recipies and then send your message (Do not forget to attach the due files)</small>
      <form id="messageForm" ng-model="messageForm">

        <label for="btnInboxes" class="badge">To: </label>
        <input id="btnInboxes" type="button" value="Select Receivers" ng-click="sendCtrl.addressToReceive()"></input> <br/>

        <inbox-selection ng-show="sendCtrl.listInboxOpen" ng-model="messageForm.selectedItems"></inbox-selection>

        <label for="txtSubject" class="badge">Subject:</label>
        <input id="txtSubject" type="text" class="form-control" ng-model="messageForm.subject"></input> <br/>
        <label for="txtDetails" class="badge">Message:</label>
        <textarea id="txtDetails" form="messageForm" class="form-control" rows="10" ng-model="messageForm.message"></textarea><br/>
        <label for="fileAttachment" class="badge">Attachement: </label>
        <label for="fileAttachment" class="" id="filePath" ng-model="messageForm.filePath"> NONE </label>
        <br/>

        <input id="send" type="button" value="send" class="btn btn-primary" role="button" ng-click="sendCtrl.sendMessage()"></input>

      </form>

    </div>

    <div id="status" class="jumbotron">
      <p id="statusMessages"></p>
    </div>

  </div>


</body>
</html>
