<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Select the file you want to upload for processing...</title>
    <style type="text/css">
    /* CSS styles here... */
    </style>
    </head>

    <body>

    <div>
    <p>Select the file you want to upload to the server. </p>
    </div>

    <div>
        <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/upload_controller">
           <input id="file" name="file" type="file" />
           <input type="submit" value="submit" id="submit" />
        </form>
    </div>


    </body>

</html>
